body,ul,li{
    margin: 0px;
    padding: 0px;
}
 body{
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
 }
ul{
     list-style-type: none; /*清除符号*/
 }
a{
    text-decoration: none;/*清除下划线*/
}
.topbar{
    background-color: black;
    height: 40px;
}
.container {
    margin: 0 auto;
    width: 1226px; /*margin配合宽等于居中*/
}
.container::backdrop,.container::after,/*在没边框情况下伪元素清除浮动和margin：*/
.cleafix::backdrop,.cleafix::after{
    content: "";
    display: table;
}
.container::after,.cleafix::after{
    clear: both;
}
.topbar a{
    color: #b0b0b0;
    font-size: 12px;
}
.topbar a:hover{
    color: #ffffff;   
}

.topbar-nav{
    float: left;
    height: 40px;
    line-height: 40px;/*在同一行的情况下高加行高等于居中*/
    font-size: 0;
}
.topbar-nav span{
    font-size: 12px;
    color: #424242;
    font-family: sans-serif;
    margin: 0.5em;
}
.topbar-info,.topbar-cart{
    float: right;
    height: 40px;
    line-height: 40px;/*在同一行的情况下高加行高等于居中*/
}
.topbar-cart a {
    display: block;
    text-align: center;
    width: 120px;
    background-color: #424242;
}
.topbar-cart a:hover{
    background-color: #fff;
    color: #ff6700;
}
.topbar-cart i{
    font-size: 20px;
    line-height: 20px;
    margin-right: 4px;
    vertical-align: -4px;/* 向下移动4 */
}
.topbar-cart span{
    margin-left: -4px;
    font-size: 12px;
}
.topbar-info{
    margin-right: 15px;
}
.topbar-info a{
    float: left;
    padding: 0 5px;

}
.topbar-info span{
    float: left;
    font-family: sans-serif; /*字体*/
    font-size: 12px;
    color: #424242;
}
.topbar-info .sep{
    padding: 0 10px;
}

/* header */
.header{
    height: 100px;
}
.header-logo{
    float: left;
    width:62px;
    margin-top: 22px;
}
.header-logo a{
    display: block;
    width: 55px;
    height: 55px;
    background: #ff6700 url(../img/mi-logo.png) no-repeat 50% 50%;
}
.header-logo a.lr{
    text-align: left;
    text-indent: -9992em;
}
/* header-nav */
.header-nav{
    float: left;
    width:820px;
    height: 100px;
    /* border: 1px solid black; */
}
.header-nav .nav-list{
    width: 820px;
    height: 88px;
    font-size: 16px;
    padding: 12px 0 0 38px;
}
.header-nav .nav-list .nav-catogory{
    float: left;
    width: 127px;
}
.header-nav .nav-list .nav-catogory a{
    display: block;
    padding: 26px 15px 38px;
    float: right;
    color: black;
}
.header-nav .nav-list .nav-item{
    float: left;
}
.header-nav .nav-list .nav-item a{
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}
.header-nav .nav-list .nav-item a:hover{
    color: #ff6700;
}
/* header-search */
.header-search{
    float:right;
    width:296px;
    height: 50px;
    margin-top: 25px;
    /* border: 1px solid black; */
}
.header-search .search-font{
    position: relative;
    display: block;
    width: 296px;
    height: 50px;
}
.header-search .search-font .search-text{
    position: absolute;
    top: 0;
    right: 51px;
    display: block;
    width: 245px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e0e0e0;
    outline: 0;
}
.header-search .search-font .search-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
}
.header-search .search-font .search-btn:hover{
    background-color: #ff6700;

}

/* seckill */
.seckill{
    background-color: #f5f5f5;
}
.seckill-head {
    margin-top: 19px;
    height: 170px;
    background: url(../img/seckill-head.jpg)
}
.seckill-nav{
    margin: -68px 0 22px;
}
.seckill-navfixed{
    position: fixed;/*固定位置*/
    top: 60px;
}
.seckill-nav ul{
    width: 1228px;
    height: 68px;
    background: #414141;

}
.seckill-nav ul li {
    display: block;
    float: left;
    color:#fff;
    width: 20%;
    height: 68PX;
    line-height: 68PX;
    text-align: center;
    cursor: pointer;
}
.seckill-nav ul li em{
    display: inline-block; /* 行级块元素 */
    margin-left: 30px;
    font-size: 18px;
    line-height: 1;/* 就是跟字体一样大小 */
    vertical-align: middle;  /* 垂直方式居于上一个父级来居中 */
}
.seckill-nav ul li span{
    display:inline-block;
    margin-left: 15px;
    text-align: left;
    line-height: 1;
    vertical-align: middle; 
    font-size: 14px;
}
.seckill-nav .active{
    background-color: #f1393a;
}
.seckill-nav ul li span em{
    display:inline-block;
    font-size: 14px;
    margin-left:0;
    font-style: normal; /* 可以清除斜体 */
    text-align: left;
    line-height: 20px;
}
.seckill-nav ul li em{
    font-style: normal; 
}
.seckill-goods{
    width: 1226px;
    /* height: 393px; */
    /* border: 1px solid red; */
}
.seckill-goods .active{
    display: inline-block;/*显示ul元素内容 */
}
.seckill-goods ul{
    display: none; /* 隐藏ul元素内容 */
    width: 1239px;
    /* border: 1px solid red; */
}
.seckill-goods li{
    float: left;
    width: 400px;
    height: 190px;
    background-color: #fff;
    /* border: 1px solid black; */
    margin-right: 13px;
    margin-bottom: 13px;
}
.seckill-goods .bg{
    float: left;
    width: 190px;
    height: 190px;
    border: 1px solid black;
}
.seckill-goods .bg img{
    height: 190px;
}
.seckill-goods .info{
    margin-left: 210px;
    width: 190px;
    height: 190px;
    /* border: 1px solid red; */
    padding-top: 30px;
}
.seckill-goods .info .name{
    font-size: 16px;
    color: #333;
    height: 16px;
    line-height: 16px;
    display: block;
    white-space: nowrap;/* 字体不换行 */
    overflow: hidden; /* 多出来的字隐藏 */
    text-overflow: ellipsis;/* 多出来的字显示点 */
}
.seckill-goods .info .tips{
    font-size: 12px;
    line-height: 12px;
    color: #b0b0b0;
    margin-top:10px;
}
.seckill-goods .info .price{
    font-size: 16px;
    line-height: 16px;
    color: #f1393a;
    margin-top: 14px;
    margin: 0px;
}
.seckill-goods .info .price del{
    color: #999;
    font-size: 12px;
    line-height: 12px;
    margin-left: 10px;
}
.seckill-goods .info .btn{
    display: inline-block;
    width: 118px;
    height: 28px;
    font-size: 14px;
    color: #fff;
    line-height: 28px;
    text-align: center;
    background-color: #f1393a;
    border: 1px solid #f1393a;
    margin-top: 19px;
}
.seckill-goods .info .person{
    font-size: 12px;
    height: 12px;
    color: #999;
    margin-top: 10px;
}
.seckill-notice{
    display: inline-block;
    font-size: 12px;
    color: #999;
    margin-top: 100px;
    padding-bottom: 35px;
}

/* site-footer */
.site-footer{
    width: 1903px;
    height:272px; 
}
.footer-service{
    border-bottom: 1px solid #e0e0e0;
    width: 1226px;
    height: 80px;
}
.footer-service ul{
    height: 25px;
    padding: 27.5px 0;
}
.footer-service ul .noBoder{
    border: none;
}
.footer-service li{
    border-left: 1px solid #e0e0e0;
    float: left;
    font-size: 18px;
    width: 19.8%;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.footer-service li a{
    color: black;
}
.footer-service li a:hover{
    color:red;
}
.footer-service ul li i{
    font-size: 24px;
    margin-right: 10px;
    vertical-align: top;
}

/* footer-links */
.footer-links{
    padding: 40px 0 0;
    width: 1226px;
    height:192px;
}
.col-links{
    float: left;
    width: 160px;
    height: 112px;
}
.col-links dt{
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.col-links dd{
    margin: 10px 0 0;
    font-size: 12px;
}
.col-links dd a {
    color: #616161;
}

.col-contact{
    border-left: 1px solid #e0e0e0;
    margin: 14px 0 0;
    float: right;
    text-align: center;
    width: 251px;
    height: 112px;
}
.col-contact .phone{
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.col-contact p{
    color: #616161;
    margin: 0 0 16px;
    font-size: 12px;
}
.col-contact a{
    margin: 0 65px 0;
    display: inline-block;
    width: 118px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
}
.col-contact a:hover{
    background-color: #ff6700;
    color: #fff;
}
.col-contact .btn-small{
    border: 1px solid red;
    background: #fff;
    color: red;
}
/* site-info */
.site-info{
    padding: 30px 0;
    background-color:#fafafa;
}
.site-info .container .ir{
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background-color: #ff6700;
    float: left;
}
.site-info .container .logo{
    width: 57px;
    height: 57px;
    background: url(../img/mi-logo.png) no-repeat 50% 50%;
}
.site-info .container .info-text p{
    margin: 0px;
    line-height: 18px;
}

.site-info .container .info-text a{
    margin-left: -4px;
    font-size: 12px;
    color: #000;
}
.site-info .container .info-text .sep{
    display: inline-block;
    margin: 0 0.25em;
    color: #b0b0b0;
}
.site-info .container .info-text a:hover{
    color: #ff6700;
}
.site-info .container .info-text p{
    display: inline-block;
}
.site-info .info-links{
    padding-left: 67px;
}
.site-info .info-links img{
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 50px
}
.site-info .slogan{
    margin: 30px auto 0;
    width: 267px;
    height: 23px;
    font-size: 18px;
    color: #b0b0b0;
    font-family:"Helvetica Neue";
}