body,ul,li,a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.contaiter{
    position: relative;
    width: 520px;
    height: 280px;
    border: 10px solid #000;
    margin: 100px auto;
    overflow: hidden;/*超出范围隐藏*/
}
.main{
    position: absolute;
    left: -520px;
    width: 3640px;
    height: 280px;
    font-size: 0;/*使HTML回车留下的空格为0*/
}

.main img{
    width: 520px;
    height: 280px;
}
.list{
    position: absolute;
    bottom: 20px;
    left: 50%;/*ul在上一个父级的中间  居中*/
    margin-left: -35px;/*一个li14像素乘五个他们的一半 居中*/
    font-size: 0;
    background-color: rgba(255, 255, 255, 0.3);/*前三个颜色，后一个透明度*/
    /*因为设置了position所以margin: 0 auto;不可以居中*/
}

.list li {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ccc;
    margin: 3px;
    cursor: pointer;/*小手*/
}
.list .active{
    background-color:orangered;
 
}

.btn{
    display: none;
    position: absolute;
    top:50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}
.contaiter:hover .btn{/*移动  显示*/
    display: inline-block;
}
#prev{
    left: 0;
}
#next{
    right: 0;
}