*{
    margin: 0px;
    padding: 0px;
}
.clearfix{
     margin-top:50px; 
}
.clearfix::after{ /*这里清除浮动是为了防止后面也跟着浮动*/
    content: "";
    display: table;
    clear: both;
}
#left {
    float: left;
    width: 140px;
}
#left img{
    width: 140px;
}
#right {
    margin-left: 10px;
    float: left;
    width: 440px;
}
#right img{
    display: none;
    width: 440px;
}
#right .show{
    display: inline-block;
}
#pointer{
    margin-top:3.3px; 
    position: absolute;
    top: 0px;
    left: 0px;
}
.box{
    position: relative;
}